<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Hybrid Automation Suite"
       parallel="tests"
       thread-count="3">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Chrome Tests">

        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.InventoryTest"/>
        </classes>

    </test>

    <test name="Firefox Tests">

        <parameter name="browser" value="firefox"/>

        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.InventoryTest"/>
        </classes>

    </test>

    <test name="Edge Tests">

        <parameter name="browser" value="edge"/>

        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.InventoryTest"/>
        </classes>

    </test>

</suite>